.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.gameTitle {
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.orders {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  border: black solid 3px;

  /* align-items: "center"; */
  /* justify-content: "center"; */
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordersAndBurger {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.ingredients {
  display: flex;
  justify-content: center;
}

.otherGameButtons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.Bun {
  height: 50px;
  top: 220px;
  width: 100px;
  z-index: 7;
  position: absolute;
}
.BunIcon {
  height: 15px;
  width: 30px;
  display: inline;
}
.BottomBun {
  height: 50px;
  width: 100px;
  z-index: 0;
  top: 300px;
  position: absolute;
}
.Plate {
  height: 50px;
  width: 120px;
  z-index: -1;
  top: 310px;
  position: absolute;
}

.Patty {
  height: 50px;
  width: 100px;
  z-index: -1;
  top: 275px;
  position: absolute;
}
.PattyIcon {
  height: 15px;
  width: 30px;
  display: inline;
}

.Pickles {
  height: 50px;
  width: 100px;
  z-index: 3;
  top: 265px;
  position: absolute;
}
.PicklesIcon {
  height: 15px;
  width: 30px;
  display: inline;
}

.Tomato {
  height: 50px;
  width: 100px;
  z-index: 4;
  top: 255px;
  position: absolute;
}
.TomatoIcon {
  height: 15px;
  width: 30px;
  display: inline;
}

.Bacon {
  height: 50px;
  width: 100px;
  top: 285px;
  z-index: 1;
  position: absolute;
}
.BaconIcon {
  height: 15px;
  width: 30px;
  display: inline;
}

.Lettuce {
  height: 50px;
  width: 100px;
  z-index: 6;
  top: 230px;
  position: absolute;
}
.LettuceIcon {
  height: 15px;
  width: 30px;
  display: inline;
}

.Cheese {
  height: 50px;
  width: 100px;
  z-index: 5;
  top: 245px;
  position: absolute;
}
.CheeseIcon {
  height: 15px;
  width: 30px;
  display: inline;
}

.BunButton {
  height: 10px;
}

.timerWarning {
  color: red;
  /* text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem; */
  font-weight: bold;
  text-align: center;
}

.timer {
  display: inline-flex;
  justify-content: center;
  border: rgb(200, 110, 0) solid 2px;
  border-radius: 60px;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 50px;
  background-color: orange;
  align-items: center;
  font-weight: bold;
}

.timeLeft {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.timerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.earnings {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  width: 70px;
  height: 50px;
  background-color: orange;
  justify-content: center;
  border: rgb(200, 110, 0) solid 2px;
  border-radius: 60px;
  align-items: center;
  font-weight: bold;
}
