@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Luckiest+Guy&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 60px;
  display: flex;
  position: relative;
  left: -10px;
}
.background {
  background-image: url("./images/background4.jpg");
  background-size: cover;
  position: relative;
  top: 60px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.gameTitle {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: orange;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

.orders {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 10px;
  border: rgb(247, 158, 50) solid 3px;
  background-color: pink;
  border-radius: 40px;
  height: 240px;
  width: 150px;
  text-align: center;
  justify-content: center;
  position: relative;
  left: -150px;
  font-size: 25px;

  /* align-items: "center"; */
  /* justify-content: "center"; */
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordersAndBurger {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.ingredients {
  display: flex;
  justify-content: center;
  position: relative;
  top: -20px;
}

.otherGameButtons {
  display: flex;
  justify-content: center;
  margin: 10px;
  position: relative;
  top: -20px;
}

.Bun {
  height: 100px;
  top: 220px;
  right: 510px;
  width: 200px;
  z-index: 10;
  position: absolute;
}
.BunIcon {
  height: 15px;
  width: 30px;
  display: inline;
}
.Lettuce {
  height: 100px;
  width: 200px;
  z-index: 9;
  top: 250px;
  position: absolute;
  right: 510px;
}
.LettuceIcon {
  height: 15px;
  width: 30px;
  display: inline;
}
.Cheese {
  height: 100px;
  width: 200px;
  z-index: 8;
  top: 270px;
  position: absolute;
  right: 510px;
}
.CheeseIcon {
  height: 15px;
  width: 30px;
  display: inline;
}
.Patty {
  height: 100px;
  width: 200px;
  z-index: 7;
  top: 290px;
  position: absolute;
  right: 510px;
}
.PattyIcon {
  height: 15px;
  width: 30px;
  display: inline;
}
.Tomato {
  height: 100px;
  width: 200px;
  z-index: 6;
  top: 310px;
  position: absolute;
  right: 510px;
}
.TomatoIcon {
  height: 15px;
  width: 30px;
  display: inline;
}
.Pickles {
  height: 100px;
  width: 200px;
  z-index: 5;
  top: 350px;
  position: absolute;
  right: 510px;
}
.PicklesIcon {
  height: 15px;
  width: 30px;
  display: inline;
}
.Bacon {
  height: 100px;
  width: 200px;
  top: 365px;
  z-index: 4;
  position: absolute;
  right: 510px;
}
.BaconIcon {
  height: 15px;
  width: 30px;
  display: inline;
}
.BottomBun {
  height: 100px;
  width: 200px;
  z-index: 3;
  top: 380px;
  position: absolute;
  right: 510px;
}
.Plate {
  height: 100px;
  width: 220px;
  z-index: 2;
  top: 310px;
  position: absolute;
  right: 520px;
}

.BunButton {
  height: 10px;
}

.timerWarning {
  color: red;
  /* text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem; */
  font-weight: bold;
  text-align: center;
}

.timer {
  display: inline-flex;
  justify-content: center;
  border-radius: 60px;
  padding: 10px;
  margin: 20px;
  width: 300px;
  height: 40px;
  border: rgb(247, 158, 50) solid 3px;
  background-color: pink;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 20px;
}

.timeLeft {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.timerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.earnings {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  width: 70px;
  height: 40px;
  border: rgb(247, 158, 50) solid 3px;
  background-color: pink;
  justify-content: center;
  border-radius: 60px;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  top: 20px;
}

.ingredientButton {
  border: pink solid 3px;
  background-color: rgb(247, 158, 50);
  font-size: 20px;
  margin: 3px;
  border-radius: 10px;
  font-family: Chewy;
}

.result {
  text-align: center;
  font-size: 25px;
  position: relative;
  top: -15px;
}
